<table>
    <tr>
        <th class="task-column">Tasks</th>
        <th ng-repeat="day in ctrl.days" class="{{!(day.day.getDay()%6) ? 'we-column' : ''}}"
            >{{day.day | date : 'd'}}<br>{{day.day | date : 'M'}}</th>
    </tr>
    <tr>
        <td>Load</td>
        <td ng-repeat="(keyDay, day) in ctrl.days"
            class="{{day.class}}"
            ng-click="ctrl.changeDayOff(keyDay)">
            <span ng-if="day.load">{{day.load | number:1}}</span>
        </td>
    </tr>
    <tr ng-repeat="(keyTask, task) in ctrl.tasks">
        <td>{{task.title + " - " + task.leftTodo}} day{{task.leftTodo>1 ? 's' : ''}}</td>
        <td ng-repeat="(keyDay, day) in ctrl.days"
            style="{{ctrl.table[keyTask][keyDay].color}}"
            draggable-task
            ></td>
    </tr>
</table>
<br>
<button type="button" ng-click="ctrl.save()">Save</button>